.h1{
    text-align: center;
    color: blue;
}
.total{
    border: solid rgb(20, 145, 161) 10px;
    padding: 10px;
}
img{
    padding-left: 50px;

}
.paragraph{
    border: solid cornflowerblue 10px;
    margin: 10px;
    padding: 5px;
}
.email{
    padding: 30px;
}
.total{
    background-color: aqua;
}

